<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="head">
        <div class="w3-bar gradient w3-xlarge">
            <a th:href="@{/home}" style="text-decoration: none;">
                <img src="/img/calendar.png" class="w3-bar-item" style="width: 5vw;">
            </a>
            <a class="w3-bar-item w3-button w3-text-theme-light" th:href="@{'/projects/'}">Projects</a>
            <a class="w3-bar-item w3-button w3-text-theme-light" th:href="@{'/tasks/'}">Tasks</a>
            <a class="w3-bar-item w3-button w3-text-theme w3-right" th:href="@{/account}">
                <i class="material-icons">account_circle</i>
                Account
            </a>
            <div class="w3-margin">
                <form th:action="@{/search/}" method="get">
                    <input type="text" class="w3-bar-item w3-input w3-right w3-opacity" name="q" placeholder="Search..">
                    <button class="w3-bar-item w3-button w3-theme w3-right" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>