<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>
<div th:insert="common/delete-modal :: delete(path='/projects/delete/' + ${id})"></div>

<div class="w3-container main-small">
    <div class="w3-display-container">
        <h1 class="w3-text-theme-dark">Edit project</h1>
        <button  onclick="document.getElementById('delete-modal').style.display='block'"
                 class="w3-btn w3-theme w3-xlarge w3-round-large w3-padding w3-margin w3-display-right">Delete project</button>
    </div>
    <hr>
    <form th:action="@{'/projects/edit/' + ${id}}" method="post" class="w3-container">
        <label class="w3-text-theme-dark w3-xlarge">Title:</label>
        <input required th:value="${name}" type="text" name="name" class="w3-input w3-text-theme w3-large w3-border w3-round w3-hover-border-theme">

        <label class="w3-text-theme-dark w3-xlarge">Description: </label>
        <textarea th:text="${description}" rows="10" name="description" class="w3-input w3-text-theme w3-large w3-border w3-round w3-hover-border-theme"></textarea>
        <hr>
        <button class="w3-btn w3-theme w3-xlarge w3-round-large w3-padding w3-margin" type="submit">Save changes</button>
    </form>
</div>
</body>
</html>