<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div class="w3-container main-small">
    <div class="w3-display-container">
        <h1 class="w3-text-theme-dark" th:text="${project.getName()}"></h1>
        <div th:if="${access.equals('full')}" class="w3-display-right">
            <a th:href="@{'/tasks/add/' + ${project.getId()}}" class="w3-btn w3-theme w3-large w3-round-large" style="display: inline-block">Create new task</a>
            <a th:href="@{'/projects/edit/' + ${project.getId()}}" class="w3-btn w3-theme w3-large w3-round-large" style="display: inline-block">Edit</a>
            <a th:href="@{'/projects/' + ${project.getId()} + '/participants/add'}" class="w3-btn w3-theme w3-large w3-round-large" style="display: inline-block">Add participant</a>
        </div>
    </div>
    <div class="w3-container">
        <p class="w3-text-theme-dark w3-large" th:text="${project.getDescription()}"></p>
    </div>

    <div th:if="${access.equals('full')}">
        <hr>
        <div th:each="task : ${project.getTasks()}">
            <div th:if="${!task.isDone()}">
                <a th:href="@{'/tasks/task/' + ${task.getId()} }" style="text-decoration: none">
                    <div th:text="${task.getName()}"></div>
                </a>
            </div>
        </div>
        <div th:if="${project.getTasks().isEmpty()}">
            <div style="margin-left: 20vw">
                <h3 class="w3-text-theme" style="display: inline-block">You have no tasks yet.
                    <a th:href="@{'/tasks/add/' + ${project.getId()}}" class="w3-text-theme">Create it!</a>
                </h3>
                <br>
                <img src="/img/empty2.jpg" class="w3-margin" style="width: 20vw;">
            </div>
        </div>
    </div>
</div>
</body>
</html>