<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>
<div th:insert="common/navbar :: side"></div>

<div class="w3-container main-small">
    <div class="w3-display-container">
        <h1 class="w3-text-theme-dark" th:text="${project.getName()}"></h1>
        <p class="w3-text-theme-dark w3-large" th:text="${project.getDescription()}"></p>
        <div class="w3-display-right">
            <a th:href="@{'/tasks/add/' + ${project.getId()}}" class="w3-btn w3-theme w3-large w3-round-large" style="display: inline-block">Create new task</a>
            <a th:href="@{'/projects/edit/' + ${project.getId()}}" class="w3-btn w3-theme w3-large w3-round-large" style="display: inline-block">Edit</a>
        </div>
    </div>

    <hr>
    <div th:each="task : ${project.getTasks()}">
        <div th:if="${!task.isDone()}">
            <a th:href="@{'/tasks/task/' + ${task.getId()} }" style="text-decoration: none">
                <div th:text="${task.getName()}"></div>
            </a>
        </div>
    </div>
</div>
</body>
</html>