<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div class="w3-container main-small">
    <div class="w3-display-container">
        <h1 class="w3-text-theme-dark">Projects</h1>
        <a th:href="@{'/projects/add/'}" class="w3-btn w3-theme w3-large w3-round-large w3-display-right">Create new project</a>
    </div>
    <hr>
    <div th:each="project : ${projects}">
        <a th:href="@{'/projects/' + ${project.getId()}}" class="w3-text-theme-dark w3-large" style="text-decoration: none;">
            <div class="w3-container w3-card w3-margin">
                <h3  th:text="${project.getName()}" class="w3-text-theme-dark"></h3>
                <div th:if="${project.getDescription().length() > 256}">
                    <p th:text="${project.getDescription().substring(0, 256)} + '...'" class="w3-text-theme-dark w3-large"></p>
                </div>
                <div th:if="${project.getDescription().length() <= 256}">
                    <p th:text="${project.getDescription()}" class="w3-text-theme-dark w3-large"></p>
                </div>
            </div>
        </a>
    </div>

    <br>
    <div th:insert="common/pagination :: pages"></div>
</div>
</body>
</html>