<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div class="w3-container main-small">
    <h1 class="w3-text-theme-dark">Create new task</h1>
    <p th:text="${projectName}"></p>
    <hr>
    <form th:action="@{/tasks/add}" method="post" class="w3-container" enctype="multipart/form-data">
        <label class="w3-text-theme-dark w3-xlarge">Title:</label>
        <input class="w3-input w3-text-theme w3-large w3-border w3-round w3-hover-border-theme" type="text" name="taskName">

        <label class="w3-text-theme-dark w3-xlarge">Description: </label>
        <textarea class="w3-input w3-text-theme w3-large w3-border w3-round w3-hover-border-theme" rows="10" name="description"></textarea>
        <br>
        <label class="w3-text-theme-dark w3-xlarge">Attached files: </label>
        <input type="file" name="files" multiple class="w3-input w3-text-theme w3-large w3-border w3-round">

        <input type="hidden" name="projectId" th:value="${projectId}">
        <hr>
        <button class="w3-btn w3-theme w3-xlarge w3-round-large w3-padding w3-margin" type="submit">Create task</button>
    </form>
</div>
</body>
</html>