<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>
<div th:insert="common/navbar :: side"></div>

<div class="w3-container main-small">
    <h1 class="w3-text-theme-dark" th:text="${task.getName()}"></h1>
    <p class="w3-text-theme-dark w3-large" th:text="${task.getProject().getName()}"></p>
    <hr>
    <div class="w3-text-theme-dark w3-large" th:text="${task.getDescription()}"></div>
</div>
</body>
</html>