<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div class="w3-container main-small">
    <div class="w3-row w3-margin w3-padding-32">
        <div class="w3-col m5">
            <div th:if="${avatar != null}" class="w3-margin">
                <img th:src="'/avatar/' + ${avatar}" class="avatar">
            </div>
            <p th:text="${username}" class="w3-text-theme-dark w3-xlarge"></p>
            <a th:href="@{/account/edit}" class="w3-btn w3-large w3-round-large w3-padding w3-margin w3-border w3-border-theme" style="width: 80%">Edit profile</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="w3-btn w3-round-large w3-large w3-padding w3-margin w3-border w3-border-theme" style="width: 80%"/>
            </form>
        </div>
        <div class="w3-col m7">
            <p th:text="${bio}" class="w3-text-theme-dark w3-large"></p>
            <div th:insert="common/projects :: card"></div>
        </div>
    </div>
</div>
</body>
</html>