<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>
<div th:insert="common/navbar :: side"></div>

<div class="w3-container main-small">
    <div class="w3-row w3-margin w3-padding-32">
        <div class="w3-col m5">
            <div th:if="${avatar != null}" class="w3-margin">
                <img th:src="'/avatar/' + ${avatar}" class="avatar">
                <hr>
                <form th:action="@{'/account/edit/avatar'}" method="post" enctype="multipart/form-data">
                    <input type="file" name="avatar" class="w3-input">
                    <input type="submit" value="add avatar" class="w3-btn w3-theme w3-round-large w3-large">
                </form>
            </div>
        </div>
        <div class="w3-col m7">
            <form class="w3-container" th:action="@{/account/edit}" method="post">
                <label class="w3-text-theme-dark w3-large w3-margin">Username:</label>
                <input type="text" th:value="${username}" name="username" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme">

                <label class="w3-text-theme-dark w3-large w3-margin">Email:</label>
                <input type="text" th:value="${email}" name="email" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme">

                <label class="w3-text-theme-dark w3-large w3-margin">Bio:</label>
                <textarea class="w3-input w3-text-theme w3-large w3-border w3-round w3-hover-border-theme" rows="10" name="bio">There wil be bio</textarea>

                <button class="w3-btn w3-theme w3-xlarge w3-round-large w3-padding w3-margin" type="submit">Save changes</button>
            </form>
            <hr>

            <form class="w3-container" th:action="@{/account/edit/password}" method="post">
                <label class="w3-text-theme-dark w3-large w3-margin">Current password:</label>
                <input type="password" name="currentPassword" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme">

                <label class="w3-text-theme-dark w3-large w3-margin">New password:</label>
                <input type="password" name="newPassword" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme">

                <button class="w3-btn w3-theme w3-xlarge w3-round-large w3-padding w3-margin" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>