<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div th:insert="common/navbar :: side"></div>

<div class="w3-container w3-row main">
    <div class="w3-col l7">
        <h2 class="w3-text-theme-dark w3-xxlarge">
            Morbi laoreet elit sapien
        </h2>
        <p class="w3-text-theme-dark w3-large">
            Curabitur posuere leo nec eros sodales, eu mollis ex lobortis.
            Donec rutrum enim in sem suscipit, eu dignissim eros viverra.
            Sed et sollicitudin lacus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Phasellus in imperdiet dolor.
            Quisque vitae elementum erat, vitae malesuada nisi
        </p>

        <h2 class="w3-text-theme-dark w3-xxlarge">Tasks</h2>
        <ul class="w3-ul w3-xlarge">
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
        </ul>
    </div>

    <div class="w3-col l3" style="margin-left: 12vw; margin-top: 2vh;">
        <div th:insert="common/projects :: card"></div>
    </div>

</div>

</body>
</html>