<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div th:insert="common/navbar :: head"></div>

<div class="w3-container w3-row main">
    <div class="w3-col l3" style="margin-top: 2vh;">
        <div th:insert="common/projects :: card"></div>
        <hr>
        <p class="w3-text-theme-dark w3-margin w3-padding">
            In hac habitasse platea dictumst. Nullam aliquam est accumsan nulla scelerisque bibendum.
            Maecenas egestas eleifend sapien, et scelerisque orci. Donec mollis molestie lectus non ullamcorper.
            Maecenas varius dui ut leo condimentum pellentesque. Mauris et varius lectus, non semper orci.
        </p>

    </div>
    <div class="w3-col l7 w3-margin">
        <h2 class="w3-text-theme-dark w3-xxlarge">
            Morbi laoreet elit sapien
        </h2>
        <p class="w3-text-theme-dark w3-large">
            Curabitur posuere leo nec eros sodales, eu mollis ex lobortis.
            Donec rutrum enim in sem suscipit, eu dignissim eros viverra.
            Sed et sollicitudin lacus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Phasellus in imperdiet dolor.
            Quisque vitae elementum erat, vitae malesuada nisi
        </p>
        <hr>
        <h2 class="w3-text-theme-dark w3-xxlarge">Tasks</h2>
        <ul th:each="task : ${tasks}" class="w3-ul w3-xlarge">
            <a th:href="@{'/tasks/task/' + ${task.getId()}}" style="text-decoration: none">
                <li th:text="${task.getName()}"></li>
            </a>
        </ul>
    </div>


</div>

</body>
</html>