<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="w3-bar gradient w3-xlarge">
    <img src="/img/calendar.png" class="w3-bar-item" style="width: 5vw;">
    <a class="w3-bar-item w3-button w3-text-theme-light" href="#">link1</a>
    <a class="w3-bar-item w3-button w3-text-theme-light" href="#">link2</a>
    <a class="w3-bar-item w3-button w3-text-theme-light w3-right" href="#">Account</a>
</div>

<div class="w3-sidebar w3-theme w3-bar-block w3-xxlarge" style="width: min-content;">
    <a class="w3-bar-item w3-text-theme-light" href="#" style="text-decoration: none;">
        <i class="material-icons">home</i>
    </a>
    <a class="w3-bar-item w3-text-theme-light" href="#" style="text-decoration: none;">
        <i class="material-icons">list</i>
    </a>
    <a class="w3-bar-item w3-text-theme-light" href="#" style="text-decoration: none;">
        <i class="material-icons">storage</i>
    </a>
    <a class="w3-bar-item w3-text-theme-light w3-bottom" href="#" style="text-decoration: none;">
        <i class="material-icons">settings</i>
    </a>

</div>

<div class="w3-container w3-row" style="margin-left: 7vw; margin-top: 2vh;">
    <div class="w3-col l7">
        <h2 class="w3-text-theme-dark w3-xxlarge">
            Morbi laoreet elit sapien
        </h2>
        <p class="w3-text-theme-dark w3-large">
            Curabitur posuere leo nec eros sodales, eu mollis ex lobortis.
            Donec rutrum enim in sem suscipit, eu dignissim eros viverra.
            Sed et sollicitudin lacus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Phasellus in imperdiet dolor.
            Quisque vitae elementum erat, vitae malesuada nisi
        </p>

        <h2 class="w3-text-theme-dark w3-xxlarge">Tasks</h2>
        <ul class="w3-ul w3-xlarge">
            <li>Task1</li>
            <li>Task2</li>
            <li>Task3</li>
        </ul>
    </div>

    <div class="w3-col l3" style="margin-left: 12vw; margin-top: 2vh;">
        <div class="w3-container w3-card w3-margin">
            <h2>Projects</h2>
            <table class="w3-table w3-bordered">
                <tr><td>Project1</td></tr>
                <tr><td>Project2</td></tr>
                <tr><td>Project3</td></tr>
                <tr><td>Project4</td></tr>
                <tr><td>Project5</td></tr>
                <tr><td>...</td></tr>
            </table>
            <a class="w3-button w3-text-theme-dark">

                <i class="material-icons">add</i>
            </a>
        </div>

    </div>

</div>

</body>
</html>